@import url(' https://fonts.cdnfonts.com/css/chinese-rocks ');

.comentarios{
    color: #fff;
    font-size: 20px;
    line-height: 200%;
}

.nome{
    font-family: 'Chinese Rocks Rg', sans-serif;
    color: #fff;
    cursor: pointer;
    transition: .9s;
    font-size: 30px;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 25px;

}

h2:hover{
    color: #D21617;
}