@import url(' https://fonts.cdnfonts.com/css/chinese-rocks ');

#banner {
    background-image: url('../../assets/capa.jpg');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
   
}

#trailer-container {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    background-color: #000;
}

.content {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trailer {
    width: 50%;
}

#sinopse {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.description {
    color: #fff;
    font-size: 19px;
    font-family: 'Chinese Rocks Rg', sans-serif;
    width: 70%;
}

.button {
    width: 200px;
    height: 60px;
    background-color: #d21617;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: .9s;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: none;
    margin-top: 25px;

}

button:hover {
    background-color: #fff;
    color: #000;
}

footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.footer-navigation {
    display: none;
}
.footer-list{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
   
}


@media(max-width: 768px) {

    .footer-navigation {
        display: block;
    }
    
    
       nav{
            display: none;
        }
    
        #banner {
            background-position: 40%;
        }
        
        #trailer-container {
            width: 100% ;
            height: 40px;
            display: flex;
            flex-direction: column;
            margin-top: 20%;
        }
    
        .content {
            width: 95%;
            display:flex;
            flex-direction: column;
        }
    
        .trailer {
            width: 100%;
        }
    
        #sinopse {
            width: 95%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    
        .description {
            width: 100%;
        }
    
        .button {
            width: 100%;
            margin-top: 10px;
          
        }
    
        
    
     
}


    
